html {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif; }

#map {
  height: 100%;
  width: 100%; }

.pac-container:after {
  display: none; }

.gm-style > div:nth-child(3),
.gm-style > .gmnoprint {
  display: none; }

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex; }

.travel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%; }

.travel .hide-travel {
  display: none;
  visibility: hidden; }

.travel #steps {
  display: flex;
  flex-directoin: column;
  z-index: 1;
  max-width: 40%;
  max-height: 40%;
  overflow: scroll;
  opacity: 0.9;
  transition: opacity 0.5s ease;
  border-radius: 5px; }

@media (min-width: 1600px) {
  .travel #steps {
    max-width: 30%; } }

.travel #steps .badge {
  float: right; }

.travel #steps:hover {
  opacity: 1; }

.travel .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5; }

.travel .form-container #duration {
  z-index: 1;
  background: #007bff;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0.25em 1em;
  color: #f3f3f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.travel .form-container .from-to-form {
  display: flex;
  z-index: 1;
  font-size: 0.9em;
  padding: 0.8em 2em;
  background-color: white;
  border-radius: 5px;
  width: 70%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.travel .form-container .from-to-form label {
  margin-bottom: 0;
  flex: 1; }

.travel .form-container .from-to-form .direction-seperator {
  margin: 0 1em;
  font-size: 2em; }

.travel .form-container .from-to-form input {
  font-size: 1em;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  width: 100%; }

.travel .form-container .from-to-form input:focus {
  outline: none; }

.welcome {
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.welcome .hide-welcome {
  display: none;
  visibility: hidden; }

.welcome h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  font-size: 5em; }

.welcome h1 .title {
  display: flex;
  justify-content: center;
  align-items: center; }

.welcome h1 .title img {
  height: 2em;
  margin: -0.5em; }

.welcome h1 small {
  font-size: 50%;
  font-weight: 300; }

.welcome .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5; }

.welcome .form-container .from-to-form {
  display: flex;
  margin-bottom: 1em;
  width: 70%; }

.welcome .form-container .from-to-form .direction-seperator {
  margin: 0 1em;
  font-size: 2.5em; }

.welcome .form-container .from-to-form label {
  flex: 1; }

.welcome .form-container .from-to-form input {
  font-size: 1em;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  margin-bottom: 1em;
  width: 100%; }

.welcome .form-container .from-to-form input:focus {
  outline: none; }

.blured {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.element_hidden {
  display: none;
  visibility: hidden; }

/* LABEL ======================================= */
