html {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100vw; }

#map {
  height: 100%;
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

#welcome {
  height: 100%;
  z-index: 1; }

#welcome #from-to-form #direction-seperator {
  margin: 0 1em;
  font-size: 2.5em; }

#welcome #from-to-form input {
  font-size: 1em;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  margin-bottom: 1em; }

#welcome #from-to-form input:focus {
  outline: none; }

.blured {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.element_hidden {
  display: none;
  visibility: hidden; }

/* LABEL ======================================= */
