html {
	margin: 0;
	padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

#map {
  	height: 100%; 
  	width: 100%;
}

/////
// Google remover
//
.pac-container:after {
	display: none;
}
.gm-style {
	> div:nth-child(3),
	> .gmnoprint {
		display: none;
	}
}
/////

#overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	width: 100%;
}

.travel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	.hide-travel {
		display: none;
		visibility: hidden;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0.5;
	
		.from-to-form {
			display: flex;
			z-index: 1;
			position: absolute;
			top: 1%;
			font-size: 0.9em;
			padding: 0.8em 2em;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    		-moz-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    		-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

			label {
				margin-bottom: 0;
			}


			.direction-seperator {
				margin: 0 1em;
				font-size: 2em;
			}

			input {
				font-size: 1em;
			    display: block;
			    border: none;
			    border-bottom: 1px solid #757575;
			    background-color: transparent;

				&:focus {
					outline:none;
				}
			}
		}
	}
}

.welcome {
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	h1 {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-weight: 300;
		font-size: 5em;

		small {
			font-size: 50%;
			font-weight: 300;
		}
	}

	.form-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0.5;
	
		.from-to-form {
			margin-bottom: 1em;

			.direction-seperator {
				margin: 0 1em;
				font-size: 2.5em;
			}

			input {
				font-size:1em;
				display:block;
				border:none;
				border-bottom:1px solid #757575;
				background-color: transparent;
				margin-bottom: 1em;

				&:focus {
					outline:none;
				}
			}
		}
	}
}

 .blured {
 	  -webkit-filter: blur(5px);
	  -moz-filter: blur(5px);
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	  filter: blur(5px);
 }

 .element_hidden {
 	display: none;
    visibility: hidden;
 }


/* LABEL ======================================= */
// label 				 {
//   color:#999; 
//   font-size:18px;
//   font-weight:normal;
//   position:absolute;
//   pointer-events:none;
//   left:5px;
//   top:10px;
//   transition:0.2s ease all; 
//   -moz-transition:0.2s ease all; 
//   -webkit-transition:0.2s ease all;
// }

// /* active state */
// input:focus ~ label, input:valid ~ label 		{
//   top:-20px;
//   font-size:14px;
//   color:#5264AE;
// }

// /* active state */
// input:focus ~ .bar:before, input:focus ~ .bar:after {
//   width:50%;
// }

// /* active state */
// input:focus ~ .highlight {
//   -webkit-animation:inputHighlighter 0.3s ease;
//   -moz-animation:inputHighlighter 0.3s ease;
//   animation:inputHighlighter 0.3s ease;
// }

// /* ANIMATIONS ================ */
// @-webkit-keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
// @-moz-keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
// @keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
